<h1>Results:</h1>


<div class="result">

Price: <%= @quotes.body['Quotes'][0] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][1] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][2] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][3] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][4] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][5] %>

</div><br>

<div class="result">

Price: <%= @quotes.body['Quotes'][6] %>

</div><br>