<div class="col-sm-8 col-sm-offset-2">
          <div class="review_single">
            <h1>Create a new review for <%= Place.find(params[:place_id]).name %>:</h1>

            <%= form_tag '/reviews', method: :post do %>

             <div>
                <%#= label_tag :place %>
                <%#= collection_select :place, :place_id, Place.all, :id, :name, {selected: params[:place_id]} %>
              </div>
              <!-- This could be a collection_select of the available options (1-5) -->
              <div>
                <%= label_tag :rating %>
                <%= text_field_tag :rating %>
              </div>
              
              
              <div>
                <%= label_tag :description %>
                <%= text_field_tag :description %>
              </div>
              <div>
                <%= hidden_field_tag :place_id, params[:place_id]%>
              </div>

              <%= submit_tag "Create Review" %>
            <% end %>
          </div>
        </div>
      </div>  